
<h2>Admin Dashboard</h2>

    <div class="click">
        <a href="/create">Add New Employee</a>  
    </div>
    <div class="click">
        <a href="/edit">Edit Employee Hours</a>
    </div>

    <div class="click">
        <a href="/view">View Employees</a>
    </div>