
{{!-- {{#if loggedIn}} --}}
<script>
console.log(loggedIn);
if(role == "admin") {
    console.log(role);
    
    <div class="click">
        <a href="/dashboard/create">Add New Employee</a>
    </div>

} else

    <div class="click">
        <a href="/dashboard/create">Add New Employee</a>
    </div>

    return role;
}   
</script>
{{!-- {{/if}} --}}
