

    {{!-- <script>
    if(role = admin) { --}}
    
    <h2>Admin Dashboard</h2>

    <div class="click">
        <a href="/create">Add New Employee</a>  
    </div>
    <div class="click">
        <a href="/edit">Edit Employee Hours</a>
    </div>

    <div class="click">
        <a href="/view">View Employees</a>
    </div>

    {{!-- } else {

  }
    </script> --}}

    <h2>Employee Dashboard</h2>


    <div class="click">
        <a href="/employee-info/{{id}}">View Your Hours</a>
    </div>
  

    {{!-- <script src="/javascript/add-employee.js"></script>
    <script src="/javascript/view-employee.js"></script>
    <script src="/javascript/create-employee.js"></script> --}}