
    <h2>Dashboard</h2>
    {{!-- <script>
    if(role = admin) { --}}
    
    <div class="click">
        <a href="/create">Add New Employee</a>  
    </div>
    <div class="click">
        <a href="/edit">Edit Employee Hours</a>
    </div>

    <div class="click">
        <a href="/view">View Employees</a>
    </div>

    {{!-- } else { --}}

 
    {{!-- }
    </script> --}}
  

    {{!-- <script src="/javascript/add-employee.js"></script>
    <script src="/javascript/view-employee.js"></script>
    <script src="/javascript/create-employee.js"></script> --}}